name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: v22
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Update npm
        run: npm install -g npm@latest

      - run: pnpm i

      - name: Prepare
        run: pnpm run dev:prepare

      - name: PNPM build
        run: pnpm run prepack

      - name: Publish to NPM
        run: pnpm publish --access public --no-git-checks
